streamlit
langchain-community
qdrant-client
langchain-community
langchain-google-genai
langchain-huggingface
langchain-qdrant
langchain-core
sentence-transformers
pypdf
langchain-text-splitters
toml
pandas
